@font-face {
   font-family: 'Photograph Signature';
   font-display: swap;
   src: url('file:///C:/Users/kauan/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-11-03_171918/fonts/Photograph%20Signature/font.ttf');
}
